{{#link-to 'index'}}<h1>Ask The Meow Expawrts</h1>{{/link-to}}

<h2>{{model.content}}</h2>

{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{new-answer saveAnswer="saveAnswer" question=model}}
